*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(61, 5, 61);
    overflow: hidden;
}

.paddle {
    --position: 50;

    position: absolute;
    background-color: white;
    top: calc(var(--position) * 1vh);
    transform: translateY(-50%);    /*position to center of screen, move element back up 50% of its height*/
    width: 1vh;
    height: 10vh;
}

.paddle.left {
    left: 1vw;
}

.paddle.right {
    right: 1vw;
}

.ball {
    --x: 50;
    --y: 50;

    position: absolute;
    background-color: white;
    left: calc(var(--x) * 1vh);
    top: calc(var(--y) * 1vh);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 2.5vh;
    height: 2.5vh;
}

.score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: white;
}

.score > * {    /* selects every child of score */
    flex-grow: 1;
    flex-basis: 0;  /* half of the screen will be taken by each score */
    padding: 0 2vh;
    margin: 1vh 0;
    opacity: .7;
}

.score > :first-child {
    text-align: right;
    border-right: .5vh solid white;
}